<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for SW2URDF" Description="Code analysis rules for SW2URDF.csproj." ToolsVersion="15.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1008" Action="Warning" />
    <Rule Id="CA1013" Action="Warning" />
    <Rule Id="CA1308" Action="Warning" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1806" Action="Warning" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1819" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1903" Action="Warning" />
    <Rule Id="CA2004" Action="Warning" />
    <Rule Id="CA2006" Action="Warning" />
    <Rule Id="CA2102" Action="Warning" />
    <Rule Id="CA2105" Action="Warning" />
    <Rule Id="CA2106" Action="Warning" />
    <Rule Id="CA2115" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2120" Action="Warning" />
    <Rule Id="CA2121" Action="Warning" />
    <Rule Id="CA2130" Action="Warning" />
    <Rule Id="CA2205" Action="Warning" />
    <Rule Id="CA2215" Action="Warning" />
    <Rule Id="CA2221" Action="Warning" />
    <Rule Id="CA2222" Action="Warning" />
    <Rule Id="CA2223" Action="Warning" />
    <Rule Id="CA2224" Action="Warning" />
    <Rule Id="CA2226" Action="Warning" />
    <Rule Id="CA2227" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA2239" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8020" Action="Warning" />
    <Rule Id="CS8040" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="IDE0032" Action="Warning" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Warning" />
    <Rule Id="IDE0002" Action="Warning" />
    <Rule Id="IDE0003" Action="Warning" />
    <Rule Id="IDE0004" Action="Warning" />
    <Rule Id="IDE0005" Action="Warning" />
    <Rule Id="IDE0007" Action="Warning" />
    <Rule Id="IDE0007WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0008" Action="Warning" />
    <Rule Id="IDE0008WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0009" Action="Warning" />
    <Rule Id="IDE0009WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0011" Action="Warning" />
    <Rule Id="IDE0011WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0012" Action="Warning" />
    <Rule Id="IDE0013" Action="Warning" />
    <Rule Id="IDE0014" Action="Warning" />
    <Rule Id="IDE0015" Action="Warning" />
    <Rule Id="IDE0016" Action="Warning" />
    <Rule Id="IDE0016WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0019" Action="Warning" />
    <Rule Id="IDE0019WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0020" Action="Warning" />
    <Rule Id="IDE0020WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0021" Action="Warning" />
    <Rule Id="IDE0022" Action="Warning" />
    <Rule Id="IDE0023" Action="Warning" />
    <Rule Id="IDE0024" Action="Warning" />
    <Rule Id="IDE0025" Action="Warning" />
    <Rule Id="IDE0026" Action="Warning" />
    <Rule Id="IDE0027" Action="Warning" />
    <Rule Id="IDE0028" Action="Warning" />
    <Rule Id="IDE0028WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0029" Action="Warning" />
    <Rule Id="IDE0029WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0030" Action="Warning" />
    <Rule Id="IDE0030WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0031" Action="Warning" />
    <Rule Id="IDE0031WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0034" Action="Warning" />
    <Rule Id="IDE0034WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0036" Action="Warning" />
    <Rule Id="IDE0036WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0037" Action="Warning" />
    <Rule Id="IDE0037WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0039" Action="Warning" />
    <Rule Id="IDE0039WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0040" Action="Warning" />
    <Rule Id="IDE0040WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0041" Action="Warning" />
    <Rule Id="IDE0041WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0042" Action="Warning" />
    <Rule Id="IDE0042WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0044" Action="Warning" />
    <Rule Id="IDE0044WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE1005" Action="Warning" />
    <Rule Id="IDE1005WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE1006" Action="Warning" />
    <Rule Id="IDE1006WithoutSuggestion" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="Warning" />
    <Rule Id="IDE0010WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0033" Action="Warning" />
    <Rule Id="IDE0033WithoutSuggestion" Action="Warning" />
  </Rules>
</RuleSet>